index:
    path: /
    controller: App\Controller\MTCDPController::index
    
login:
    path:       /login
    controller: App\Controller\SecurityController::login
    
menu:
    path: /menu-principal
    controller: App\Controller\MTCDPController::mainMenu

# Patient  
menu_patients:
    path: Patients/menu-patients/page-{page}
    controller: App\Controller\MTCDPController::menuPatients
    requirements:
        page:     \d+
        
ajouter_patient:
    path: Patients/ajouter-patient
    controller: App\Controller\MTCDPController::ajouterPatient

editer_patient:
    path: Patients/editer-patient/{id}
    controller: App\Controller\MTCDPController::editerPatient
    requirements:
        id:     \d+

supprimer_patient:
    path: Patients/supprimer-patient/{id}
    controller: App\Controller\MTCDPController::supprimerPatient
    requirements:
        id:     \d+
        
fiche_patient:
    path: Patients/fiche-patient/{id}
    controller: App\Controller\MTCDPController::fichePatient
    requirements:
        id:     \d+
        
visite_patient:
    path: Patients/visite-patient/{idPatient}
    controller: App\Controller\MTCDPController::visitePatient
    requirements:
        idPatient:     \d+
    
fiche_visite:
    path: Patients/fiche-visite/{idVisite}
    controller: App\Controller\MTCDPController::ficheVisite
    requirements:
        idVisite:     \d+

ajouter_photo_visite:
    path: Patients/ajouter-photo-visite/{idVisite}
    controller: App\Controller\MTCDPController::ajouterPhotoVisite
    requirements:
        idVisite:     \d+

supprimer_photo_visite:
    path: Patients/supprimer-photo-visite/{idVisite}
    controller: App\Controller\MTCDPController::supprimerPhotoVisite
    requirements:
        idVisite:     \d+
        
reglement_visite:
    path: Patients/reglement-visite/{idVisite}/{modeRegl}
    controller: App\Controller\MTCDPController::reglementVisite
    requirements:
        idVisite:     \d+
        modeRegl:     "cheque|espece"
        
historique_visites:
    path: Patients/historique-visites/page-{page}
    controller: App\Controller\MTCDPController::historiqueVisites
    requirements:
        page:     \d+
    
historique_visite_patient:
    path: Patients/historique-visite-patient/{idPatient}
    controller: App\Controller\MTCDPController::historiqueVisitePatient
    requirements:
        idPatient:     \d+
        
editer_visite:
    path: Patients/editer-visite/{idVisite}
    controller: App\Controller\MTCDPController::editerVisite
    requirements:
        idVisite:     \d+
        
supprimer_visite:
    path: Patients/supprimer-visite/{idVisite}
    controller: App\Controller\MTCDPController::supprimerVisite
    requirements:
        idVisite:     \d+
        
choix_materiel_visite:
    path: Patients/choix-materiel-visite/{idVisite}/page-{page}
    controller: App\Controller\MTCDPController::choixMaterielVisite
    requirements:
        idVisite:     \d+
        page:     \d+
      
choix_qte_materiel_visite:
    path: Patients/choix-qte-materiel-visite/{idVisite}-{idMateriel}
    controller: App\Controller\MTCDPController::choixQteMaterielVisite
    requirements:
        idVisite:     \d+
        idMateriel:     \d+
        
ajouter_materiel_visite:
    path: Patients/ajouter-materiel-visite/{idVisite}-{idMateriel}
    controller: App\Controller\MTCDPController::ajouterMaterielVisite
    requirements:
        idVisite:     \d+ 
        idMateriel:     \d+ 
 
retirer_materiel_visite:
    path: Patients/retirer-materiel-visite/{idVisite}-{idMateriel}
    controller: App\Controller\MTCDPController::retirerMaterielVisite
    requirements:
        idMateriel:     \d+ 
        idVisite:     \d+  
#Autocomplete et recherche
tuto_autocomplete:
    path:     /autocomplete
    defaults: { _controller: App\Controller\AutoCompleteController::indexAction }
 
ajax_autocomplete_materiels:
  path:  /ajax/autocomplete/{Entite}/{champ}/update/data
  defaults: { _controller: App\Controller\AjaxAutoCompleteController::updateDataAction }

filtrer_materiel:
   path:  /Materiel/filtrer-materiel
   defaults: { _controller: App\Controller\MaterielController::filtrerMateriel}
   
filtrer_produits:
   path:  /Materiel/filtrer-produits
   defaults: { _controller: App\Controller\MaterielController::filtrerProduits}
   
filtrer_couponsQG:
   path:  /CouponQiGong/filtrer-couponsQG
   defaults: { _controller: App\Controller\QiGongController::filtrerCouponsQG}
   
filtrer_reglements:
   path:  /Comptabilite/filtrer-reglements
   defaults: { _controller: App\Controller\ComptabiliteController::filtrerReglements}
    
rechercher_materiel:
    path:  /rechercher-materiel/{Entite}-{champ}/{valeur}
    defaults: { _controller: App\Controller\MaterielController::rechercherMateriel}
    
rechercher_materiel_visite:
    path:  /rechercher-materiel-visite/{idVisite}/{Entite}-{champ}/{valeur}
    defaults: { _controller: App\Controller\MTCDPController::rechercherMaterielVisite}
    requirements:
        idVisite:     \d+
        
rechercher_produit:
    path:  /rechercher-produit/{Entite}-{champ}/{valeur}
    defaults: { _controller: App\Controller\MaterielController::rechercherProduit}
    
rechercher_fournisseur:
    path:  /rechercher-fournisseur/{Entite}-{champ}/{valeur}
    defaults: { _controller: App\Controller\ParametresController::rechercherFournisseur}
    
rechercher_medecin:
    path:  /rechercher-medecin/{Entite}-{champ}/{valeur}
    defaults: { _controller: App\Controller\ParametresController::rechercherMedecin}
#Document
documents_patient:
    path: Patients/documents-patient/{idPatient}
    controller: App\Controller\MTCDPController::documentsPatient
    requirements:
        idPatient:     \d+
        
ajouter_document:
    path: Patients/ajouter-document/{idPatient}
    controller: App\Controller\MTCDPController::ajouterDocument
 
supprimer_document:
    path: Patients/supprimer-document/{idDocument}
    controller: App\Controller\MTCDPController::supprimerDocument
    requirements:
        id:     \d+    
        
#Patient prescription        
fiche_prescription:
    path: Patients/fiche-prescription/{idPrescription}
    controller: App\Controller\MTCDPController::fichePrescription 
    requirements:
        idPrescription:     \d+

creer_prescription:
    path: Patients/creer-prescription/{idVisite}
    controller: App\Controller\MTCDPController::creerPrescription
    requirements:
        idVisite:     \d+
        
choix_produit_prescription:
    path: Patients/choix-produit-prescription/{idPrescription}
    controller: App\Controller\MTCDPController::choixProduitPrescription
    requirements:
        idPrescription:     \d+
        
ajouter_produit_prescription:
    path: Patients/ajouter-produit-prescription/{idPrescription}/{idProduit}
    controller: App\Controller\MTCDPController::ajouterProduitPrescription
    requirements:
        idPrescription:     \d+ 
        idProduit:     \d+ 

retirer_produit_prescription:
    path: Patients/retirer-produit-prescription/{idProduit}/{idPrescription}
    controller: App\Controller\MTCDPController::retirerProduitPrescription
    requirements:
        idProduit:     \d+ 
        idPrescription:     \d+   
                
editer_prescription:
    path: Patients/editer-prescription/{idPrescription}
    controller: App\Controller\MTCDPController::editerPrescription
    requirements:
        idPrescription:     \d+
        
supprimer_prescription:
    path: Patients/supprimer-prescription/{idPrescription}
    controller: App\Controller\MTCDPController::supprimerPrescription
    requirements:
        idPrescription:     \d+
        
historique_prescriptions:        
    path: Patients/historique-prescriptions/page-{page}
    controller: App\Controller\MTCDPController::historiquePrescriptions 
    requirements:
        page:     \d+
        
historique_prescriptions_patient:
    path: Patients/historique-prescriptions_patient/{idPatient}/page-{page}
    controller: App\Controller\MTCDPController::historiquePrescriptionsPatient
    requirements:
        idPatient:     \d+
        page:     \d+

#patient note honoraire
note_honoraire:
    path: Patients/note-honoraire/{idVisite}/{montant}-{typeVisite}
    controller: App\Controller\MTCDPController::noteHonoraire
    requirements:
        idVisite:     \d+
        montant:     \d+
        
#patient medecin
choix_medecin_patient:
    path: Patients/choix-medecin-patient/{idPatient}
    controller: App\Controller\MTCDPController::choixMedecinPatient
    requirements:
        idPatient:     \d+
        
ajouter_medecin_patient:
    path: Patients/ajouter-medecin-patient/{idPatient}/{idMedecin}
    controller: App\Controller\MTCDPController::ajouterMedecinPatient
    requirements:
        idPatient:     \d+ 
        idMedecin:     \d+ 

retirer_medecin_patient:
    path: Patients/retirer-medecin-patient/{idPatient}/{idMedecin}
    controller: App\Controller\MTCDPController::retirerMedecinPatient
    requirements:
        idPatient:     \d+ 
        idMedecin:     \d+  
        
#Matériel
menu_materiel:
    path: Materiel/menu-materiel
    controller: App\Controller\MaterielController::menuMateriel
    
menu_produits:
    path: Materiel/menu-produits/page-{page}
    controller: App\Controller\MaterielController::menuProduits
    requirements:
        page:   \d+
        
ajouter_produit:
    path: Materiel/ajouter-produit
    controller: App\Controller\MaterielController::ajouterProduit
    
editer_produit:
    path: Materiel/editer-produit/{idProduit}
    controller: App\Controller\MaterielController::editerProduit
    requirements:
        idProduit:     \d+ 
        
supprimer_produit:
    path: Materiel/supprimer-produit/{idProduit}
    controller: App\Controller\MaterielController::supprimerProduit
    requirements:
        idProduit:     \d+   
        
menu_materiels:
    path: Materiel/menu-materiels/page-{page}
    controller: App\Controller\MaterielController::menuMateriels
    requirements:
        page:   \d+

ajouter_materiel:
    path: Materiel/ajouter-materiel
    controller: App\Controller\MaterielController::ajouterMateriel
    
editer_materiel:
    path: Materiel/editer-materiel/{idMateriel}
    controller: App\Controller\MaterielController::editerMateriel
    requirements:
        idMateriel:     \d+ 
        
supprimer_materiel:
    path: Materiel/supprimer-materiel/{idMateriel}
    controller: App\Controller\MaterielController::supprimerMateriel
    requirements:
        idMateriel:     \d+   

#QiGong   
menu_QiGong:
    path: QiGong/menu-QiGong/page-{page}
    controller: App\Controller\QiGongController::menuQiGong
    requirements:
        page:     \d+
    
ajouter_couponQiGong:
    path: QiGong/ajouter-couponQiGong
    controller: App\Controller\QiGongController::ajouterCouponQiGong
    
editer_couponQiGong:
    path: QiGong/editer-couponQiGong/{idCQG}
    controller: App\Controller\QiGongController::editerCouponQiGong
    requirements:
        idCQG:     \d+
   
supprimer_couponQiGong:
    path: QiGong/supprimer-couponQiGong/{idCQG}
    controller: App\Controller\QiGongController::supprimerCouponQiGong
    requirements:
        idCQG:     \d+
     
presence_QiGong:
    path: QiGong/presence-QiGong/{idCQG}/{idPatient}
    controller: App\Controller\QiGongController::presenceQiGong
    requirements:
        idCQG:     \d+
        idPatient:     \d+
        
historique_presences_QiGong:
    path: QiGong/historique-presences-QiGong/{idPatient}/page-{page}
    controller: App\Controller\QiGongController::historiquePresencesQiGong
    requirements:
        idPatient:     \d+
        page:     \d+

historique_seances_QG:
    path: QiGong/historique-seances-QG/page-{page}
    controller: App\Controller\QiGongController::historiqueSeancesQG
    requirements:
        page:     \d+
    
editer_seance_QG:
    path: QiGong/editer-seance-QG/{idSQG}
    controller: App\Controller\QiGongController::editerSeanceQG
    requirements:
        idSQG:     \d+
        
supprimer_seance_QG:
    path: QiGong/supprimer-seance-QG/{idSQG}
    controller: App\Controller\QiGongController::supprimerSeanceQG
    requirements:
        idSQG:     \d+
        
reglement_coupon_QiGong:
    path: QiGong/reglement-coupon-QiGong/{idCQG}/{modeRegl}
    controller: App\Controller\QiGongController::reglementCouponQG
    requirements:
        idCQG:     \d+     
# Comptabilité        
menu_comptabilite:
    path: Comptabilite/menu-comptabilite
    controller: App\Controller\ComptabiliteController::menuComptabilite

# Comptabilité Réglement  
menu_reglements:
    path: Comptabilite/menu-reglements
    controller: App\Controller\ComptabiliteController::menuReglements
    
fiche_reglement:
    path: Comptabilite/fiche-reglement/{idReglement}
    controller: App\Controller\ComptabiliteController::ficheReglement
    requirements:
        idReglement:     \d+

editer_reglement:
    path: Comptabilite/editer-reglement/{idReglement}
    controller: App\Controller\ComptabiliteController::editerReglement
    requirements:
        idReglement:     \d+
   
supprimer_reglement:
    path: Comptabilite/supprimer-reglement/{idReglement}
    controller: App\Controller\ComptabiliteController::supprimerReglement
    requirements:
        idReglement:     \d+
        
# Paramètres  
menu_parametres:
    path: Parametres/menu-parametres
    controller: App\Controller\ParametresController::menuParametres
    
menu_medecins:
    path: Parametres/menu-medecins/page-{page}
    controller: App\Controller\ParametresController::menuMedecins
    requirements:
        page:     \d+


fiche_medecin:
    path: Parametres/fiche-medecin/{idMedecin}
    controller: App\Controller\ParametresController::ficheMedecin
    requirements:
        idMedecin:     \d+
  
ajouter_medecin:
    path: Parametres/ajouter-medecin
    controller: App\Controller\ParametresController::ajouterMedecin
        
editer_medecin:
    path: Parametres/editer-medecin/{idMedecin}
    controller: App\Controller\ParametresController::editerMedecin
    requirements:
        idMedecin:     \d+
        
supprimer_medecin:
    path: Parametres/supprimer-medecin/{idMedecin}
    controller: App\Controller\ParametresController::supprimerMedecin
    requirements:
        idMedecin:     \d+ 

menu_specialites:
    path: Parametres/menu-specialites
    controller: App\Controller\ParametresController::menuSpecialites
    
ajouter_specialite:
    path: Parametres/ajouter-specialite
    controller: App\Controller\ParametresController::ajouterSpecialite
    
editer_specialite:
    path: Parametres/editer-specialite/{idSpecialite}
    controller: App\Controller\ParametresController::editerSpecialite
    requirements:
        idSpecialite:     \d+
        
supprimer_specialite:
    path: Parametres/supprimer-specialite/{idSpecialite}
    controller: App\Controller\ParametresController::supprimerSpecialite
    requirements:
        idSpecialite:     \d+
        
menu_fournisseurs:
    path: Parametres/menu-fournisseurs/page-{page}
    controller: App\Controller\ParametresController::menuFournisseurs
    requirements:
        page:     \d+

fiche_fournisseur:
    path: Parametres/fiche-fournisseur/{idFournisseur}
    controller: App\Controller\ParametresController::ficheFournisseur
    requirements:
        idFournisseur:     \d+
  
ajouter_fournisseur:
    path: Parametres/ajouter-fournisseur
    controller: App\Controller\ParametresController::ajouterFournisseur
        
editer_fournisseur:
    path: Parametres/editer-fournisseur/{idFournisseur}
    controller: App\Controller\ParametresController::editerFournisseur
    requirements:
        idFournisseur:     \d+
        
supprimer_fournisseur:
    path: Parametres/supprimer-fournisseur/{idFournisseur}
    controller: App\Controller\ParametresController::supprimerFournisseur
    requirements:
        idFournisseur:     \d+
        
menu_categories_produits: 
    path: Parametres/menu-categories-produits
    controller: App\Controller\ParametresController::menuCatProd
    
ajouter_categorie_produit: 
    path: Parametres/ajouter-categorie-produit
    controller: App\Controller\ParametresController::ajouterCatProd
    
editer_categorie_produit:
    path: Parametres/editer-categorie-produit/{idCatProd}
    controller: App\Controller\ParametresController::editerCatProd
    requirements:
        idCatprod:     \d+
        
supprimer_categorie_produit:
    path: Parametres/supprimer-categorie-produit/{idCatProd}
    controller: App\Controller\ParametresController::supprimerCatProd
    requirements:
        idCatprod:     \d+