#blockMainMenuPatients{margin-top:2vh;}
.titresH1{
    font-family: "Trebuchet MS";
    text-align:center;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.btn-primary{border:1px solid black;}
.btn-danger{border:1px solid black;}
.tableCenter{
    text-align: center;
    font-family: Trebuchet MS;
    border:1px solid black;
}

.glyphMenu{
    font-size:1.7em;
    color:black;
}
.glyphSuppr{
   font-size:1.7em;
    color:red; 
    margin-left:5px;
}

body, html {
  height: 80vh;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  width: 20vw;
  height:5vh;
  margin-top:5vh;
  //background-color:#c3c3c3 ;
  border:1px solid black;
  color: black;
  float: left;
  outline: none;
  cursor: pointer;
  font-size: 17px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  min-width:900px;
  height: 65vh;
  color: black;
  display:none;
  padding: 20px 20px;
  border:1px solid ;
}

#informations { background-color: white;font-family: Trebuchet MS;}
#suiviMedical {background-color: white;font-family: Trebuchet MS;}
#antecedents {background-color: white;font-family: Trebuchet MS;}

.btsFichePatient{
    display:block;
    margin:1vh;
}
.sousTitre{
    font-size: 2rem;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 3vh;
}
.MenuBasCentre{
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
#headerVisitePatient{
    border:1px solid;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top:1vh;
    margin-bottom:3vh;
    background-color:white;
}
.formulaire{
    width:90vw;
    border:1px solid;
    padding-top: 2vh;
    background-color: white;
    margin-bottom:1vh;
}
.formDate{
    width:15vw;
}
.formMotif{
    width:40vw;
    margin-left:20vw;
}
.formObsDoc{
    width:35vw;
    margin-left:2vw;
}
.insideForm{
    font-weight: bold;
}
.encartSuppr{
    max-width:60vw;
    margin-top:5vh;
    background-color: white;
    border:1px solid black;
}
.encartFicheVisite{
    max-width:90vw;
    margin-top:5vh;
    margin-left:5vw;
    background-color: white;
    border:1px solid black;
}
.zoneBtFichePat{
    margin-top:5vh;
    text-align: center;
}
#btnSupprPhoto{
    margin-top:1vh;
}
.btFichePat{
    margin-top:2px;
    margin-bottom: 2px;
}
.paragrapheExplicatif{
    font-size: 1.2rem;
    font-family: Calibri;
}
#searchNom{max-width:15vw;}
#searchPrenom{max-width:15vw;}