#blockMainMenuPatients{
   margin-top:5vh;
}
.titresH1{
    font-family: "Trebuchet MS";
    text-align:center;
    margin-bottom: 5vh;
}
.formulaire{
    border:1px solid;
    background-color: #dcdcdc;
    margin-bottom:1vh;
}
.bt_enregistrer{
    text-align:center;
    margin-bottom: 1vh;
}
.tableCenter{
    text-align: center;
    font-family: Trebuchet MS;
}
#glyphSuppr{
    font-size:1.7em;
    color:black;
}
#glyphEdit{
    font-size:1.7em;
    color:black;
}