* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@import "layout.scss";
@import "menus.scss";
@import "patients.scss";
@import "materiels.scss";
@import "qiGong.scss";
@import "comptabilite";